<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/home-page.css"/>

</head>
<body>

<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light'
      rel='stylesheet' type='text/css'>

<div class="wrapper clearfix">
    <div class="left">

        <div class="name-hero">

            <div class="me-img"></div>

            <div class="name-text">

                <h1>Anthony <em>Adamski</em></h1>
                <p>10 Iroquois St Boston, MA 02120</p>
                <p>adamskianthony@gmail.com</p>
                <p>(956) 500-5558</p>

            </div>
            <!-- Logout start -->
            <ul>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div class="form-inline my-2 my-lg-0 px-3">
                        <!--                        <div class="text-white">Welcome, <th:block sec:authentication="name"></th:block>!</div>-->
                        <form
                                th:method="post"
                                th:action="@{/users/logout}">
                            <input style="width: 65px" class="btn btn-link nav-link" type="submit" value="Logout">
                        </form>
                    </div>
                </li>
            </ul>
            <!-- EO: Logout start -->

        </div>

    </div>
    <div class="right">

        <div class="inner">

            <section>
                <h1>About me:</h1>
                <hr class="new5">

                <p>As an experienced Technical Support Agent I am currently providing technical support for users in companies.
                    My Technical Service Engineer skills regarding the administration include configuration and troubleshooting
                    Microsoft technologies Office 365, Exchange Online, Intune, Windows 10, SCCM, Hyper-V, Active Directory, DHCP,
                    DNS records along with switching, routing, firewall and other technologies in the OSI Model. As well as None-Microsoft
                    technologies like Oracle VM VirtualBox and Linux OS like Fedora.</p>
            </section>



            <section>
                <h1>IT Certificates</h1>
                <hr class="new5">
                <p>As an experienced Technical Support Agent I am currently providing technical support for users in companies.
                    My Technical Service Engineer skills regarding the administration include configuration and troubleshooting
                    Microsoft technologies Office 365, Exchange Online, Intune, Windows 10, SCCM, Hyper-V, Active Directory, DHCP,
                    DNS records along with switching, routing, firewall and other technologies in the OSI Model. As well as None-Microsoft
                    technologies like Oracle VM VirtualBox and Linux OS like Fedora.</p>
            </section>

            <section>
                <h1>IT Skills</h1>
                <hr class="new5">
                <ul class="skill-set">
                    <li>Mobile Development</li>
                    <li>Xamarin</li>
                    <li>CSS3</li>
                    <li>Adobe Photoshop</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JQUERY</li>
                    <li>UI Design</li>
                    <li>Company Branding</li>
                    <li>Responsive Web Design</li>
                </ul>
            </section>

            <section>
                <h1>Work Experience</h1>
                <hr class="new5">
                <p>Winter 2015 - Present <em>Grand Interactive, llc. | Mobile App Developer</em></p>
                <p>Raised $78,000 in early stage funding, created initial design
                    concepts, and oversaw initial development. Currently oversee and maintain all front end code and
                    server functionality.</p>
                <p>Spring 2012 - Winter 2015 | <em>PadMatcher Inc. | CTO, Co-Founder</em></p>
                <p>Raised $78,000 in early stage funding, created initial design
                    concepts, and oversaw initial development. Oversaw and maintained all front end code and server
                    functionality.</p>
                <p>Fall 2011 - Fall 2013 | <em>Penrose Realty llc. | Desinger & Assistant</em></p>
                <p>Responsible for all technical areas. Maintain servers, computers, and provide in office technical
                    support. Rebranded company from ground up including a fully responsive website. </p>
            </section>

            <section>
                <h1>Education</h1>
                <hr class="new5">
                <p>Winter 2015 - Present <em>Grand Interactive, llc. | Mobile App Developer</em></p>
                <p>Raised $78,000 in early stage funding, created initial design
                    concepts, and oversaw initial development. Currently oversee and maintain all front end code and
                    server functionality.</p>
                <p>Spring 2012 - Winter 2015 | <em>PadMatcher Inc. | CTO, Co-Founder</em></p>
                <p>Raised $78,000 in early stage funding, created initial design
                    concepts, and oversaw initial development. Oversaw and maintained all front end code and server
                    functionality.</p>
                <p>Fall 2011 - Fall 2013 | <em>Penrose Realty llc. | Desinger & Assistant</em></p>
                <p>Responsible for all technical areas. Maintain servers, computers, and provide in office technical
                    support. Rebranded company from ground up including a fully responsive website. </p>
            </section>

            <section>
                <h1>Additional information / References</h1>
                <hr class="new5">
                <p>William Grand | <em>Grand Interactive, llc. | CEO</em></p>
                <p>(617) 448-0910 | wgrand@grandinteractive.com</p>
                <p>Eric Chauvin | <em>PadMatcher Inc. | CEO</em></p>
                <p>(617) 448-0910 | eric@padmatcher.com</p>
                <p>Chris Heller <em>Penrose Realty LLC. | Broker</em></p>
                <p>(617) 794-4554 | chris@penroserealty.com</p>
            </section>
            <section>
                <h1>Personal Interests</h1>
                <hr class="new5">
                <ul class="skill-set">
                    <li>Faith</li>
                    <li>Biblical Studies</li>
                    <li>Playing Guitar</li>
                    <li>Song Writing</li>
                    <li>Health & Nutrition</li>
                    <li>Reading</li>
                </ul>
            </section>
            <section>
                <div class="handmade">
                    <p>handmade by <em> Anthony Adamski</em></p>
                </div>
            </section>
        </div>

    </div>

</div>


</body>
</html>